<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Bucket List Sinatra MVC App</h2>

    <div class="content">
      <% if logged_in? %>
        <p>Welcome, <%=current_user.username %></p>
        <a href="/items/new"> Make New Bucket List Item </a><br><br>
        <a href="/logout"> Log Out </a><br><br>
        <a href="/items"> My Bucket List </a><br><br>
        

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>
    </div>

  </div>
</div>

